.container {
    padding-top: 15px;

}

.row{
    padding-top:10px;
}

button{
    margin: 5px;
}

.view-in.ng-enter {
  transition: all 1s ease;
  -webkit-transition:all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  
  opacity:0.5;
  position:relative;
  opacity:0;
}
.view-in.ng-enter {
  opacity: 0;
}
.view-in.ng-enter.ng-enter-active {
  opacity: 1;
}

.view-in.ng-leave.ng-leave-active{
  opacity:1;
}
.view-in.ng-leave{
  opacity: 0;
}


/*NG REPEAT*/
.repeatBtn.ng-enter {
    	-webkit-transition: 1s linear all; /* Chrome */
    	transition: 1s linear all;
    	opacity: 0;
}
     
.repeatBtn.ng-enter.ng-enter-active {
    	opacity: 1;
}

.repeatBtn.ng-leave {
    	-webkit-transition: 1s linear all; /* Chrome */
    	transition: 1s linear all;
    	opacity: 1;
}
     
.animate.ng-leave.ng-leave-active {
    	opacity: 0;
}